.page-wrapper {
	position: relative;
}

.header {
	@extend %NormalTransition;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
	}
}

.header-pinned {
	position: fixed;
	background: #000315;
}

.header.header-pinned .header-inner {
	padding: 10px 0;
}

.site-branding img {
	width: 169px;
}

.header-left,
.header-right {
	flex-shrink: 0;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-center {
	flex-grow: 1;
}

.primary-menu {
	display: none;

	ul {
		margin: 0;
	}

	.nav-item {
		margin: 0;

		&.active-item,
		&:hover {
			> .nav-link {
				color: $primary-color;

				.nav-text:after {
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}
	}

	.nav-link {
		position: relative;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 30px;
		padding: 10px 20px;
		color: #fff;

		.nav-text {
			position: relative;
			display: block;

			&:after {
				content: '';
				width: 0;
				height: 2px;
				position: absolute;
				left: auto;
				right: 0;
				bottom: 0;
				transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
				background: $primary-color;
			}
		}
	}
}

.primary-menu {
	display: none;
}

.navbar-toggler {
	min-height: 0;
}

.announcement-bar {
	background: url(../images/announcement-bar-bg.jpg) no-repeat center;
	background-size: cover;
	padding: 10px 0 9px;
	text-align: center;
}

.announcement-bar--image {
	font-size: 0;
	margin: 0 0 3px;
}

.announcement-bar--text {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;

	a {
		--gutter-y: 2px;
		display: inline-flex;
		align-items: center;
		padding: 0;
		line-height: 28px;
		color: $primary-color;

		svg {
			margin: 0 0 0 5px;
		}

		span {
			display: block;
			position: relative;

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: var(--gutter-y);
				left: 0;
				width: 100%;
				height: 1px;
				background: currentColor;
				transform-origin: right;
				transform: scaleX(1) translateZ(0);
				transition: transform .6s cubic-bezier(.165, .84, .44, 1) .3s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .3s;
			}

			&:after {
				transform-origin: left;
				transform: scaleX(0) translateZ(0);
				transition: transform .6s cubic-bezier(.165, .84, .44, 1);
			}
		}

		&:hover {
			span {
				&:before {
					transform: scaleX(0) translateZ(0);
					transition: transform .6s cubic-bezier(.165, .84, .44, 1);
				}

				&:after {
					transform: scaleX(1) translateZ(0);
					transition: transform .6s cubic-bezier(.165, .84, .44, 1) .3s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .3s;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.site-branding {
		img {
			width: 150px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.header-right .header-button {
		display: none;
	}
}

@media only screen and (min-width: 1100px) {
	.primary-menu {
		display: block;

		.nav {
			justify-content: center;
		}
	}

	.navbar-toggler {
		display: none;
	}
}
