.page-connect-subwallet {
  .main-content {
    padding: 0;
  }
}

.section-connect-subwallet {
  padding: 120px 0 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section-title {
    font-size: 64px;
    line-height: 1.125;
  }

  .connect-image {
    margin: 0 0 67px;

    img {
      max-width: 40vw;
    }
  }

  .section-description-wrap {
    margin: 0;
  }

  .section-description {
    text-transform: none;
    color: #fff;
    font-size: 32px;
    line-height: 1.25;
    max-width: 870px;
    margin: 0 auto;
  }

  .section-content {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }

  .section-call-out-action {
    margin-top: 54px;
  }

  .button {
    min-width: 300px;
  }

  .footer-menu {
    margin: 47px 0 0;
  }

  .section-shape-promoting-bg {
    bottom: 10%;
  }

  .section-shape-satellite-1 {
    bottom: 5%;
    left: 0;
    transform: translate(-50%, 0);

    img {
      max-width: 12vw;
    }
  }

  .section-shape-satellite-2 {
    top: 10%;
    right: 0;
    transform: translate(50%, 0);

    img {
      max-width: 22vw;
    }
  }

  .section-shape-kusama {
    bottom: 40%;
    left: 3.5%;

    img {
      max-width: 13vw;
    }
  }

  .section-shape-polkadot {
    bottom: 12%;
    right: 4%;

    img {
      max-width: 12vw;
    }
  }

  .shape-token-mfr-1 {
    left: 20%;
    bottom: 15%;
  }

  .shape-token-mfr-2 {
    right: 5%;
    bottom: 35%;
    transform: rotate3d(0, 1, 1, 44deg);
    filter: blur(3px);
  }

  .shape-token-mfg-1 {
    right: 20%;
    top: 15%;
  }

  .shape-token-mfg-2 {
    left: 15%;
    top: 15%;
    transform: rotate3d(0, 1, 1, 48deg) skew(15deg);
    filter: blur(1px);
  }

  .section-call-out-action {
    display: flex;
    align-items: center;
    justify-content: center;

    .connected-wallet-info-card {
      background-color: #020722;
      width: 970px;
      padding: 31px 50px 50px 50px;

      $border: 3px;
      color: #FFF;
      position: relative;
      background-clip: padding-box;
      border: solid $border transparent;
      border-radius: 1em;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(to right, #4CCBC9, #E4007B);
      }

      .card-title {
        font-family: 'Race Sport', serif;
        color: #4CCBC9;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 25px;
      }

      .card-body {
        .wallet-address {
          margin-bottom: 42px;

          #wallet-account-address {
            padding: 17px 20px 23px;
            margin-left: 5px;
            background-color: #21063C;
            color: #FFF;
          }

          #logout-btn {
            min-width: unset;
            margin-left: 15px;
          }
        }
      }
    }
  }

  #gleam-competition {
    margin-top: 50px;

    .e-widget-wrapper {
      iframe {
        width: 540px;
        border-radius: 8px;
      }
    }

    .e-widget-preloader {
      background: transparent;
    }
  }

}

@media screen and (max-width: 1400px) {
  .section-connect-subwallet {
    .section-title {
      font-size: 58px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .section-connect-subwallet {
    .section-title {
      font-size: 50px;
    }
  }
}

@include media-breakpoint-down(md) {
  .section-connect-subwallet {
    .section-title {
      font-size: 44px;
    }

    .section-description {
      font-size: 28px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .section-connect-subwallet {
    .section-title {
      font-size: 38px;
    }

    .connect-image {
      margin: 0 0 30px;

      img {
        max-width: 56vw;
      }
    }

    .section-description {
      font-size: 24px;
    }

    .section-call-out-action {
      margin-top: 35px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .section-connect-subwallet {
    .section-title {
      font-size: 32px;
    }

    .section-description {
      font-size: 20px;
    }
  }
}
