.section-connect-subwallet {
	.section-title {
		font-size: 64px;
		line-height: 1.125;
	}

	.section-description {
		text-transform: none;
		color: #fff;
		font-size: 32px;
		line-height: 1.25;
	}

	.button {
margin: 54px;
	}
}
