.section-hero {
  z-index: 1;
  padding: 175px 0 281px;
  background: url(../images/hero-bg.png) no-repeat center;
  background-size: cover;

  .button-group {
    --gutter-x: 20px;
    margin-top: 57px;
  }

  .button {
    --button-hoz-padding: 15px;
    min-width: 180px;
  }

  .section-header {
    margin: 0;
  }

  .hero-image {
    margin: 0 0 69px;

    img {
      max-width: 30vw;
    }
  }

  .section-header-inner {
    max-width: 874px;
  }

  .section-title {
    font-size: 64px;
    line-height: 1.15;

    mark {
      color: $secondary-color;
    }
  }

  .section-description-wrap {
    margin: 0;
  }

  .section-description {
    text-transform: none;
    line-height: 1.3;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
  }

  .section-shape-kusama {
    left: 44px;
    top: 33.73%;

    img {
      max-width: 15vw;
    }
  }

  .section-shape-mfg-blur {
    top: 282px;
    left: 352px;

    img {
      max-width: 8vw;
    }
  }

  .section-shape-mfg {
    top: 289px;
    right: 290px;

    img {
      max-width: 8vw;
    }
  }

  .section-shape-mfr {
    top: 822px;
    left: 333px;

    img {
      max-width: 8vw;
    }
  }

  .section-shape-mfr-blur {
    top: 622px;
    right: 148px;

    img {
      max-width: 8vw;
    }
  }

  .section-shape-dot {
    top: 780px;
    right: 288px;

    img {
      max-width: 12vw;
    }
  }

  .connected-wallet-info-card {
    background-color: #020722;
    width: 970px;
    padding: 31px 50px 50px 50px;

    $border: 3px;
    color: #FFF;
    position: relative;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 1em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(to right, #4CCBC9, #E4007B);
    }

    .card-title {
      font-family: 'Race Sport', serif;
      color: #4CCBC9;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 25px;
    }

    .card-body {
      .wallet-address {
        margin-bottom: 42px;

        #wallet-account-address {
          padding: 17px 20px 23px;
          margin-left: 5px;
          background-color: #21063C;
          color: #FFF;
        }

        #logout-btn {
          min-width: unset;
        }
      }
    }
  }

  #gleam-competition {
    margin-top: 50px;

    .e-widget-wrapper {
      iframe {
        width: 540px;
        border-radius: 8px;
      }
    }

    .e-widget-preloader {
      background: transparent;
    }
  }
}

.section-hero-shape-meteor {
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1440px) {
  .section-hero {
    padding: 200px 0;

    .section-title {
      font-size: 36px;
    }

    .section-description {
      font-size: 36px;
    }
  }
}

@include media-breakpoint-down(md) {
  .section-hero {
    padding: 150px 0;

    .section-title {
      font-size: 32px;
    }

    .section-description {
      font-size: 32px;
    }

    .button-group {
      margin-top: 30px;
    }
  }

  .section-hero-shape-meteor {
    bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .section-hero {
    .button {
      min-width: 160px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .section-hero {
    padding: 120px 0;

    .button-group {
      margin-top: 20px;
    }

    .button {
      min-width: 150px;
    }

    .section-title {
      font-size: 28px;
    }

    .section-description {
      font-size: 28px;
    }

    .hero-image img {
      max-width: 35vw;
    }
  }

  .section-hero-shape-meteor {
    bottom: 0;
  }
}

@include media-breakpoint-down(xs) {
  .section-hero {
    .section-description {
      font-size: 24px;
      line-height: 28px;
    }

    .button-group {
      --gutter-x: 14px;
    }
  }
}
